@model Company.Areas.Admin.Models.Theloai
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h2>Xoá thể loại</h2>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Matheloai">MaTheloai</label>
            <input type="text" class="form-control mb-3" asp-for="Matheloai" disabled />
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Tentheloai">TenTheloai</label>
            <input type="text" class="form-control mb-3" asp-for="Tentheloai" disabled />
        </div>
    </div>
    <!--begin form-->
    <form asp-action="Delete" method="Post">
        <input type="hidden" asp-for="Matheloai" />
        <a class="btn btn-lg btn-warning p-2 mr-5" href="javascript:history.back()">
            <i class="bi bi-arrow-left-circle"></i> Go back
        </a>
        <button type="submit" class="btn btn-lg btn-danger p-2">
            <i class="bi bi-trash"></i> Delete
        </button>
    </form>
    <!--end form-->
</main>